# Thư mục VS cache
.vs/
*.vscode/
*.user
*.suo

# Cache database của VS
*.db
*.db-shm
*.db-wal

# Backup & layout
*.backup.json
*.json
*.bin
*.v2

# Các file build tạm
bin/
obj/
# Ignore build folders
bin/
obj/

# Ignore cache files
*.cache

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
